* text=auto
*.sh text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.py text eol=lf
*.java text eol=lf
# va hokazo, loyihangizdagi barcha matn fayllari uchun

* eol=crlf